@import "tailwindcss";

:root {
  --color-bg: #0C0F0D;
  --color-surface: #0F1613;
  --color-accent: #21F3A4;  
  --color-primary: #A5F3CE;
  --color-primary-bright: #55FFC1;
  --color-mint-glow: #4BFFDC;
  --color-ring-glow: rgba(165, 243, 206, 0.3);

  --color-text: #E6FFF4;
  --color-text-secondary: #89CBB3;

  --color-purple-deep: #2D1E33;
  --color-purple-glow: #D2B4FF;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: "KitSans", sans-serif;
  background: #0B1A16;
  color: #E6FFF4;
}

@layer utilities{
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

}

.reveal {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}